@model IEnumerable<DoctorConsultAppMVC.Models.BookedModel>

@{
    ViewBag.Title = "BookedApointments";
}

<h2>Booked Apointments</h2>


<div class="row">
    <div class="col-12">
        @(Html.Kendo().Grid<DoctorConsultAppMVC.Models.BookedModel>(Model)
                             .Name("grid")
                             .Columns(column=>
                             {
                                 column.Bound(p => p.UserId);
                                 column.Bound(p => p.PName);
                                 column.Bound(p => p.BookingDate);
                                 column.Bound(p => p.StartTime);
                                 column.Bound(p => p.EndTime);
                                 column.Bound(c => c.BookingId).Title("Details").ClientTemplate(
                                                         @Html.ActionLink("Details", "ApointmentDetails", "Consultation", new { id = "#=BookingId#" }, htmlAttributes: null).ToHtmlString()
                                  );

                             })
                             .Pageable()
                             .Sortable()
                             .Navigatable()
                             .Resizable(r => r.Columns(true))
                             .Filterable()
                             .Scrollable()
                             .DataSource(dataSource => dataSource
                                      .Ajax()
                                      .PageSize(20)
                                      .Read(read => read.Action("GetdoctorList", "DoctorConsultAppController")))
                   )
    </div>
</div>
