@model IEnumerable<DoctorConsultAppMVC.Models.DoctorModel>

@{
    ViewBag.Title = "GetdoctorList";
}
<div class="k-fab-dark" style="color:blue; align-content:center baseline ">
    <h5>Hello.. @Session["UserName"]</h5>
</div>
<div class="k-fab-dark" style="color:blue; text-align:center;">
    <h2>Available Doctors</h2>
</div>
    <div class="row">
        <div class="col-12">

            @(Html.Kendo().Grid<DoctorConsultAppMVC.Models.DoctorModel>(Model)
                             .Name("grid")
                             .Columns(column=>
                             {
                                 column.Bound(p => p.DoctorName);
                                 column.Bound(p => p.Specilization);
                                 column.Bound(c => c.DoctorId).Title("Details").ClientTemplate(
                                                         @Html.ActionLink("Details", "Search", "Consultation", new { id = "#=DoctorId#" }, htmlAttributes: null).ToHtmlString()
                                  );

                             })
                             .Pageable()
                             .Sortable()
                             .Navigatable()
                             .Resizable(r => r.Columns(true))
                             .Filterable()
                             .Scrollable()
                             .DataSource(dataSource => dataSource
                                      .Ajax()
                                      .PageSize(20)
                                      .Read(read => read.Action("GetdoctorList", "DoctorConsultAppController")))

                   )

        </div>

    </div>




    
