@model IEnumerable<DoctorConsultAppMVC.Models.PastConsultList>

@{
    ViewBag.Title = "PastConsultList";
}
    <div class="k-fab-dark" style="color:blue; text-align:center;">
        <h4>Past ConsultationList</h4>
    </div>

        <div class="row">
            <div class="col-12">

                @(Html.Kendo().Grid<DoctorConsultAppMVC.Models.PastConsultList>(Model)
                             .Name("grid")
                             .Columns(column=>
                             {
                                 column.Bound(p => p.BookingId);
                                 column.Bound(p => p.DoctorId);
                                 column.Bound(p => p.PatientName);
                                 column.Bound(p => p.BookingDate);
                                 column.Bound(c => c.BookingId).Title("Details").ClientTemplate(
                                                         @Html.ActionLink("Details", "PastConsultationDetails", "Consultation", new { id = "#=BookingId#" }, htmlAttributes: null).ToHtmlString()
                                  );

                             })
                             .Pageable()
                             .Sortable()
                             .Navigatable()
                             .Resizable(r => r.Columns(true))
                             .Filterable()
                             .Scrollable()
                             .DataSource(dataSource => dataSource
                                      .Ajax()
                                      .PageSize(20)
                                      .Read(read => read.Action("GetdoctorList", "DoctorConsultAppController")))

                   )

            </div>

        </div>
