@model IEnumerable<DoctorConsultAppMVC.Models.CheckSlot>

@{
    ViewBag.Title = "Slots";
}

<h2>Slots</h2>

<div class="row">
    <div class="col-12">

        @(Html.Kendo().Grid<DoctorConsultAppMVC.Models.CheckSlot>(Model)
                             .Name("grid")
                             .Columns(column=>
                             {
                                 column.Bound(p => p.SlotId);
                                 column.Bound(p => p.StartTime);
                                 column.Bound(p => p.EndTime);
                                 column.Bound(p => p.Availability);
                                 column.Bound(c => c.DoctorId).Title("").ClientTemplate(
                                                         @Html.ActionLink("Book an Appointment", "SlotDetails", "Consultation", new { id = "#=SlotId#" }, htmlAttributes: null).ToHtmlString()
                                  );

                             })
                             .Pageable()
                             .Sortable()
                             .Navigatable()
                             .Resizable(r => r.Columns(true))
                             .Filterable()
                             .Scrollable()
                             .DataSource(dataSource => dataSource
                                      .Ajax()
                                      .PageSize(20)
                                      .Read(read => read.Action("Slots", "DoctorConsultAppController")))

                   )

    </div>
    @*<div>
        <button class="btn">@Html.ActionLink("Book an Appointment", "Booking")</button>
    </div>*@
    
</div>

