@{
    ViewBag.Title = "Home Page";
}


    <div class="k-animation-container">
        <div class="k-pivotgrid-row">
            <div class="k-col-end-2">
                <div >
                    @Html.ActionLink("Doctors", "DoctorLogin", "Consultation")
                </div>
                <div>
                    @Html.ActionLink("Users", "UserLogin", "Consultation")
                </div>
            </div>

        </div>

    </div>


