@{
    ViewBag.Title = "Home Page";
}


<br /><br />
    <div class="k-animation-container"style="text-align:center; background-color:#E5E7E9 ;color:blueviolet;">
        <div class="k-pivotgrid-row">
            <div class="k-col-end-2" style="font-size:xx-large;">
                <div >
                    @Html.ActionLink("Doctors", "DoctorLogin", "Consultation")
                </div>
                <div>
                    @Html.ActionLink("Users", "UserLogin", "Consultation")
                </div>
            </div>
        </div>
    </div>


