@{
    ViewBag.Title = "UserHome";
}

<h2>UserHome</h2>
<div class="k-group-horizontal">
    <div>
        
        @Html.ActionLink("Book Apointment", "GetdoctorList", "Consultation")
    </div>
    <hr />
    <div>
        
        @Html.ActionLink("Priview Past Consultations", "PastConsultList", "Consultation")
    </div>
</div>

