@{
    ViewBag.Title = "UserHome";
}
<br />

<div>
    <div class="k-animation-container" style="text-align:center; background-color:#E5E7E9 ;color:F8FAFB; border:groove">
        <div class="k-pivotgrid-row">
            <div class="k-col-end-2" style="font-size:xx-large;">
                <div>
                    <br />
                    @Html.ActionLink("Book Apointment", "GetdoctorList", "Consultation")
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    @Html.ActionLink("Preview Past Consultations", "PastConsultList", "Consultation")
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>
    <div class="" style="text-align:center; background-color:EDD6F5 ;color:F8FAFB; border:groove">
        <div style="background-color: EDD6F5; background-image: url('~/images/doctor.jpg')">
            <br />
            <h2 class="k-fab-dark" style="color:blue; align-content:center baseline; margin:0 420px 0 0 ">
                Hi... @Session["UserName"]
            </h2>
            <br />
            <h1 style="font-size:30px; margin:0 0 0 50px; color:E7C1F3;">
                Welcome..! to Doctor Consutation Application
            </h1>
            <br />
            <h2 style="font-size:30px; margin:0 50px 0 0; text-align:right; color:#73e600;">
                Stay Home..  Stay Safe.!
            </h2>
            <img src="~/images/doctor.jpg" />

        </div>
    </div>
</div>

